<div class="comment-form-container d-flex col">
  <p>Leave a comment</p>
  <%= form_with model: [ @post.author, @post, @post.comments.build ] do |form| %>
    <p>
      <%= form.text_area :text, rows: 5, columns: 100 %>
    </p>
    <p><%= form.submit %></p>
  <% end %>
</div>
