<div class="user-status-container d-flex">
  <% if user_signed_in? %>
    <p> Welcome <%=current_user.name %></p>
    <%= button_to 'SIGN OUT', destroy_user_session_path, :method => :delete, class: "user-link-btn click"  %>
  <% else %>
    <%= link_to 'LOG IN', new_user_session_path, :method => :get, class: "user-link" %>
  <% end %>
  <% if User.all.empty?  ||  User.all.nil? %>
    <p> There are no users </p>
  <%end%>
</div>
