<h1>Pages#index</h1>
<p>Welcome to the blog. This is the home page.</p>
<p>Routes available:</p>
<p>/users/</p>
<p>/users/:user_id/</p>
<p>/users/:user_id/posts</p>
<p>/users/:user_id/posts/:post_id</p>
