/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Square+Peg&display=swap');

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.click {
  cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

header,
header nav,
header nav ul,
header nav ul li {
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  gap: 30px;
  padding: 10px;
}

footer {
  margin: 20px;
}

a {
  all: unset;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

nav li,
.user-link {
  font-weight: bold;
  color: blue;
}

ul {
  gap: 15px;
}

.user-status-container {
  gap: 15px;
}

.user-link::after,
.user-link:active,
.user-link:visited {
  color: blue;
}

.user-link:hover {
  color: rgb(53, 100, 238);
}

.user-link-btn {
  background: none;
  padding: 2px 6px;
  color: blue;
  font-weight: bold;
  border: none;
  font-size: 16px;
}

.user-link-btn:hover {
  color: rgb(53, 100, 238);
}


.create-new-post-title {
  font-weight: bold;
  color: blue;
}

.users-list {
  gap: 30px;
}

.users-item {
  gap: 50px;
  width: 500px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-photo {
  min-width: 100px;
  height: 100px;
  object-fit: cover;
}

.user-data-container {
  flex-grow: 1;
  width: 100%;
  border: solid black 2px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.user-name {
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
  color: red;
}

.user-name:hover {
  color: darkred
}

.flash-success {
  color: green;
}

.flash-danger {
  color: red;
}

.user-suggestion-ctn {
  gap: 10px;
}

.form {
  padding: 10px 0;
  gap: 15px;
}

.form-btn {
  color: blue;
  padding: 2px 5px;
  background-color: white;
}

.form-btn:hover {
  background-color: rgb(227, 227, 227);
}

.delete-btn {
  padding: 2px 6px;
  color: red;
  background-color: white;
  border: solid 2px red;
}

.delete-btn:hover {
  background-color: rgb(255, 213, 213);
}

.devise-error-text {
  color: red;
}

.devise-alert {
  color: rgb(233, 140, 0);
}