.user-details-ctn {
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  width: 500px;
}

.user-bio-ctn {
  border: solid 2px black;
  justify-items: flex-start;
  align-items: flex-start;
  padding: 5px 5px;
  width: 100%;
  gap: 20px;
}

.user-bio-title {
  font-weight: bold;
  color: blue;
}

.user-posts-list {
  gap: 20px;
  width: 100%;
  align-items: center;
  text-align: left;
}

.user-posts-item {
  width: 500px;
  border: solid 2px black;
  justify-items: flex-start;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
}

.user-post-title {
  font-size: 13px;
}

.user-post-counters {
  font-size: 12px;
  align-self: flex-end;
}

.all-posts-btn {
  width: 100px;
  border: 2px solid black;
  padding: 3px 5px;
  box-shadow: 2px 2px black;
}

.all-posts-btn:hover {
  background-color: rgb(235, 235, 235);
}

.hr-divisor {
  width: 100%;
}

.user-post-comments-ctn {
  justify-content: flex-start;
  align-items: flex-start;
}

.read-more-btn {
  color: blue;
  align-self: flex-end;
  font-size: 13px;
}

.read-more-btn:hover {
  color: rgb(1, 1, 116);
}

.post-nbr-tbn,
.post-nbr-tbn:visited,
.post-nbr-tbn:active,
.post-nbr-tbn::after {
  color: blue;
}

.post-nbr-tbn:hover {
  color: blue;
}

.user-post-header {
  width: 100%;
  justify-content: space-between;
}

.form-container {
  margin-top: 20px;
  width: 500px;
  gap: 6px;
}

.form-container p {
  gap: 2px;
  display: flex;
  flex-direction: column;
}

.form-container form {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.comment-form-container {
  width: 450px;
  gap: 5px;
}

.comment-form-container form {
  width: 100%;
  gap: 7px;
}

.comment-form-container form textarea {
  width: 100%;
  padding: 5px;
}

.comment-form-container form input {
  width: 150px;
  border: 2px solid black;
  padding: 4px 8px;
  box-shadow: 2px 2px black;
  cursor: pointer;
}

.comment-form-container form input:hover {
  background-color: rgb(235, 235, 235);
}

.like-btn {
  padding: 3px 6px;
  border: solid red 2px;
  background-color: white;
  align-self: flex-end;
}

.like-btn:hover {
  background-color: rgb(240, 240, 240);
}