.user-page-title {
  margin-bottom: 20px;
}

.user-details-ctn {
  align-items: center;
  gap: 20px;
  width: 500px;
}

.user-bio-ctn {
  border: solid 2px black;
  justify-items: flex-start;
  align-items: flex-start;
  padding: 5px 5px;
  width: 100%;
  gap: 20px;
}

.user-bio-title {
  font-weight: bold;
}

.user-posts-list {
  gap: 20px;
  width: 100%;
  text-align: left;
}

.user-posts-list li {
  width: 100%;
  border: solid 2px black;
  justify-items: flex-start;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
}

.user-post-title {
  font-size: 13px;
}

.user-post-counters {
  font-size: 12px;
  align-self: flex-end;
}

.all-posts-btn {
  width: 100px;
  border: 2px solid black;
  padding: 3px 5px;
  box-shadow: 2px 2px black;
}

.all-posts-btn:hover {
  background-color: rgb(235, 235, 235);
}